
.mainMenu {
    display: flex;
    padding: 0 1.875rem;  
    max-width: 1920px;
    margin: 0 auto;
  }
  
  .mainMenuBackground {
    background-color: #fff;
    box-shadow: 1px 1px 3px #ddd;
    z-index: 2;
    height: 60px;
  }
  
  .logo {
    margin-top: 0.6rem;
  }
  
  .nav {
    margin-left: 2rem;
    margin-top: 0.29rem;
    display: flex;
    max-height: 50px;
  }
  
  .navlink {
    padding: 0.75rem 1rem;
    display: flex;
    text-decoration: none;
    border-radius: 3px;
  
  }
  
  .navicon {
    color: #333;
  }
  
  .navtext {
    vertical-align: middle;
    margin-left: 1rem;
    font-size: 0.875rem;
    margin-top: 0.2rem;
    color: #333;
    font-weight: 500
  }
  
  .navlink:hover {
      background-color: #0A2D6C;
  }
  
  .navlink:hover .navicon{
    color: #fff;
  }
  
  .navlink:hover .navtext{
    color: #fff;
  }