.main{
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.submenu {
  background-color: #fff;
  box-shadow: 1px 1px 3px #ccc;
  height: 60px;
  z-index: 1;
  width: calc(100% - 1.875rem);
  min-width: 600px;
  max-width: 1920px;
  margin: 0 auto;
  padding: 1rem 1.875rem;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
}

.newRegister {
  text-decoration: none;
  background-color: var(--main-color);
  padding: 0.4rem 2rem;
  margin-left: 4rem;
  display: inline-block;
  font-size: 0.875rem;
  color: #fff;
  border-radius: 3px;
}

.newRegister:hover {
  background-color: #0A2D6C;
}

.filter {
  display: flex;
}

.field {
  border: 1px solid #eaeaea;
  background-color: #eaeaea;
  border-radius: 3px;
  padding: 1rem 1rem;
  margin-top: -3px;
  outline: none;
  min-width: 500px;
}

.title {
  font-size: 1.10rem;
  color: #333;
  font-weight: 500;
  margin-right: 5rem;
  margin-top: 0.2rem;
}

.total {
  font-size: 0.8rem;
  color: #999;
  margin-top: 0.3rem;
  font-weight: 500;
  float: left;
}

.sinResult {
  text-align: center;
  padding: 1rem 0;
  font-size: 0.8rem;
  color: #999;
}

.grid {
  background-color: #fff;
  box-shadow: 1px 1px 3px #ccc;
  width: calc(100% - 1.875rem);
  min-width: 600px;
  max-width: 1920px;
  margin: 1rem auto 0;
  border-radius: 3px;
}

.grid table {
  width: 100%;
  border: none;
}

.grid thead {
  width: 100%;
  border: none;
  background-color: #f1f1f1;
}

.grid th {
  text-align: left;
  font-size: 0.9rem;
  color: #333;
  padding: 0.8rem 1rem;
}

.grid th:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.grid th:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.grid tbody td {
  border: none;
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
  color: #333;
  font-weight: 500;
}

.grid tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}

.new_form {
  padding: 1.875rem;
}

.new_form fieldset {
  border: none;
  margin: 1rem 0;
  display: flex;
  padding: 0.5rem 0;
  flex-wrap: wrap;
}

.new_form fieldset div {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
  min-width: 300px;
  flex: 1;
  margin-bottom: 1rem;
}

.new_form .subtitle{
  font-size: 1rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1rem;
  display: inline;
  width: 100%;
}

.new_form fieldset input,.new_form fieldset select,.new_form fieldset textarea{
  border: 2px solid #ddd;
  background-color: #ddd;
  padding: 1rem;
  border-radius: 3px;
  min-width: 200px;
  outline: none;
}

.new_form fieldset input:active, .new_form fieldset input:hover {
  border: 2px solid #0A2D6C;
}

.new_form fieldset textarea {
  width: 100%;
  font-family: var(--font-mono);;
}

.new_form fieldset span {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  color: #333;
}

.new_form .buttonSave {
  background-color: var(--main-color);
  padding: 1rem 3rem;
  border-radius: 3px;
  border: none;
  color: #fff;
}

.new_form .buttonSave:hover {
  cursor: pointer;
  background-color: #0A2D6C;
}

.buttonCancel {
  background-color: #620000;
  padding: 0.3rem 3rem;
  display: block;
  border-radius: 3px;
  border: none;
  font-size: 0.9rem;
  color: #fff;
  text-decoration: none;
}

.buttonCancel:hover {
  cursor: pointer;
  background-color: #840000;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  z-index: 500;
  overflow: none;
}

.modal .content {
  position: relative;
  background-color: #fff;
  top: 50%;
  left: calc(50% - 86px);
  border-radius: 3px;
  padding: 1rem;
  display: inline-flex;
}

.modal .content .IconLoading{
  margin-right: 1rem;
}

.modal .content span {
  display: inline-block;
  font-weight: 600;
  padding-top: 0.2rem;
  color: #333;
}