
.mainMenuBackground {
  background-color: #fff;
  box-shadow: 1px 1px 3px #ddd;
  z-index: 2;
  height: 60px;
}

.mainMenu {
    display: flex;
    justify-content: space-between;
    padding: .8rem 3rem;
}  

.exitApp {
  display: flex;
  padding: 0 0.5rem;
  border-radius: 5px;
  text-decoration: none;
  color: #333;
}

.exitApp span {
  padding-top: 8px;
  margin-left: 5px;
}

.exitApp:hover {
  color: var(--main-color);
  cursor:pointer;
  background-color: #eaeaea;
}

.exitApp:hover .menu {
  color: var(--main-color);
}

.menu {
  color: #333;
  width: 35px;
  height: 35px;
  margin-top: 0.10rem;
  margin-left: -5px;
  border-radius: 50%;
  padding: 5px;
  align-items: center;
}

