
.mainMenuBackground {
  background-color: #fff;
  box-shadow: 1px 1px 3px #ddd;
  z-index: 2;
  height: 60px;
}

.mainMenu {
    display: flex;
    padding: .8rem 3rem;
}  
  
.logo {
  margin-left: 0.5rem;
}

.menu {
  color: #333;
  width: 35px;
  height: 35px;
  margin-top: 0.10rem;
  margin-left: -5px;
  border-radius: 50%;
  padding: 5px;
  align-items: center;
}

.menu:hover {
  color: var(--main-color);
  cursor:pointer;
  background-color: #f3f3f3;
  
}