.main {
  display: flex;
  flex-direction: row;
}

.loginWrapper {
  padding: 4.4em;
  background-color: #fff;
  max-width: 37.5rem;
  margin: 4rem auto 4rem;
  border-radius: 5px;
  border: 1px solid #eaeaea;
  box-shadow: #ccc 0px 1px 1px;
}

.headerLogo {
  width: 100%;
}

.headerLogo .logo {
  display: block;
  margin: 0 auto;
}

.loginWrapper .headerTitle {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.loginWrapper .headerTitle h1 {
  font-weight: 500;
  font-size: 1.125rem;
  color: #444;
}

.formLoginWrapper .formLoginFieldset {
  border: none;
  margin-bottom: 1.25rem;
}

.formLoginWrapper .formLoginFieldset .formLoginName {
  color: #444;
  size: 0.875rem;
  margin-bottom: 0.5rem;
  display: inline-block;
}

.formLoginWrapper .formLoginFieldset .formLoginField {
  display: flex;
  border-radius: 0.1875rem;
  border: 0.125rem solid #d8d8d8;
  min-width: 25rem;
  padding: 0.45rem 0.5rem;
}

.formLoginWrapper .formLoginFieldset:hover .formLoginFieldset {
  border: 1px solid var(--main-color);
}

.formLoginWrapper .formLoginFieldset .formLoginField input {
  padding-left: 0.5rem;
  border: none;
  outline: none;
  width: 100%;
  border-radius: 0.1875rem;
  font-size: 1.05rem;
  font-weight: 500;
  color: #333;
}

.formLoginWrapperIcon {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0.3125rem 0.4375rem;
  border-radius: 3px;
  color: #aaa;
}

.formLoginIcon {
  display: block;
  margin: 0.625rem auto;
}

.loginFormFooter {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.loginFormFooter input {
  padding: 0.8rem 0;
  text-transform: capitalize;
  background-color: var(--main-color);
  border: none;
  border-radius: 3px;
  color: #fff;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
}

.loginFormFooter input:hover {
  background-color: var(--main-darker-color);
}

.loginLink {
  text-decoration: none;
  display: inline-block;
  color: var(--main-color);
  font-weight: 500;
  margin: 2rem auto;
  font-size: 0.875rem;
}

.loginLink:hover{
  text-decoration: underline;
}

.footerWrapper {
  margin: 0 auto;
  border-top: 1px solid #eee;
  padding-top: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerWrapper .rights {
  color: #999;
  font-size: 0.875rem;
}

.modalLogin {
  margin: 1rem auto 2rem;
}