.main{
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.kpisCardsWrappers{
  display: flex;
  justify-content: space-between;
  padding-right: 1rem;
  flex-wrap: wrap;
}

.kpisCard{
  background-color: #fff;
  border: 2px solid #eaeaea;
  display: flex;
  flex-grow: 1;
  max-width: 350px;
  min-width: 230px;
  flex-direction: column; 
  flex-wrap: wrap;
  padding: 1rem;
  border-radius: 4px;
  margin: 0 0.5rem 1rem 0.5rem;
}

.kpisTitle{
  font-size: 1rem;
  color: #444;
  margin-bottom: 16px;
}

.kpisAmount{
  font-size: 1.3125rem;
  color: #444;
  font-weight: 600;
}